- content_for :title do
  Gifs

- content_for :header do
  %h1.title.is-inline Gifs

  %form.is-pulled-right.is-inline{ action: '/gifs/search', method: :get }
    %p.control.is-grouped
      - if logged_in? && current_user.can?(action: :create, resource: Feature.by_name(:gifs, namespace: :public))
        %a.button{ href: '/gifs/new' } Upload
      %input.input{ type: :text, name: :q, placeholder: 'Search Gifs' }
      %button.button Search

- content_for :body do
  %section.section
    .container
      .gif-columns{ style: "display: flex; flex-flow: row wrap; justify-content: space-around; align-items: flex-start; " }
        - @gifs.each do |gif|
          .gif{ style: "padding-bottom: 2em; margin-bottom: auto; margin-left: auto; margin-right: auto; " }
            .card
              .card-image
                %figure.image.is-4by3
                  %a{ href: "/images/gifs/#{ gif.filename }" }
                    %img{ src: "/images/gifs/#{ gif.filename }", style: "height: 100%;" }
              .card-content
                .media
                  .media-content
                    %a{ href: "/gif/#{ gif.short_code }" }
                      %h5.title.is-5= gif.title
                    %a{ href: "/gif/#{ gif.short_code }" }
                      %p.subtitle.is-6= gif.filename
                .content
                  - gif.tags.each do |tag|
                    %a{ href: "/gifs/search?q=#{ tag }" }
                      %span.tag= tag

      .tabs.is-fullwidth
        %ul
          %li
            - unless @gifs.first_page?
              - prev_params = { page: @gifs.previous_page, per_page: @gifs.per_page }.compact.to_query
              %a{ href: "?#{ prev_params }" }
                %i.fa.fa-angle-left
                Previous
          %li
            %a{ href: "#top" }
              %i.fa.fa-angle-up
              Top
          %li
            - unless @gifs.last_page?
              - next_params = { page: @gifs.next_page, per_page: @gifs.per_page }.compact.to_query
              %a{ href: "?#{ next_params }" }
                Next
                %i.fa.fa-angle-right
