- content_for :title do
  Gifs

- content_for :header do
  %h1.title.is-inline Gifs

  %form.is-pulled-right.is-inline{ action: '/gifs/search', method: :get }
    %p.control.is-grouped
      - if logged_in? && current_user.can?(action: :create, resource: Feature.by_name(:gifs, namespace: :public))
        %a.button{ href: '/gifs/new' } Upload
      %input.input{ type: :text, placeholder: 'Search Gifs' }
      %button.button Search

- content_for :body do
  %section.section
    .container
      .gif-columns{ style: "display: flex; flex-flow: row wrap; justify-content: space-around; align-items: flex-start; " }
        - @gifs.each do |gif|
          .gif{ style: "padding-bottom: 2em; margin-bottom: auto; margin-left: auto; margin-right: auto; " }
            .card
              .card-image
                %figure.image.is-4by3
                  %a{ href: "/images/gifs/#{ gif[:file] }" }
                    %img{ src: "/images/gifs/#{ gif[:file] }", style: "height: 100%;" }
              .card-content
                - if gif[:data].present?
                  .media
                    .media-content
                      %a{ href: "/gif/#{ gif[:data].short_code }" }
                        %h5.title.is-5= gif[:data].title
                      %a{ href: "/gif/#{ gif[:data].short_code }" }
                        %p.subtitle.is-6= gif[:file]
                  .content
                    - gif[:data].tags.each do |tag|
                      %a{ href: "/gifs/tag/#{ tag }" }
                        %span.tag= tag
                - else
                  .media
                    .media-content
                      %a{ href: "/gif/#{ gif[:file] }" }
                        %h5.title.is-5= gif[:file]
                  .content

      .tabs.is-fullwidth
        %ul
          %li
            - if @pagination[:before]
              %a{ href: "?before=#{ @pagination[:before] }" }
                %i.fa.fa-angle-left
                Previous
          %li>
            %a{ href: "#top" }
              %i.fa.fa-angle-up
              Top
          %li
            - if @pagination[:after]
              %a{ href: "?after=#{ @pagination[:after] }" }
                Next
                %i.fa.fa-angle-right
