- content_for :title do
  Gif - #{ @gif[:file] }

- content_for :header do
  %h1.title.is-inline Gif
  %h5.subtitle.is-inline= @gif[:file]

  %form.is-pulled-right.is-inline{ action: '/gifs/search', method: :get }
    %p.control.is-grouped
      - if logged_in? && current_user.can?(action: :create, resource: Feature.by_name(:gifs, namespace: :public))
        %a.button{ href: '/gifs/new' } Upload
      %input.input{ type: :text, placeholder: 'Search Gifs' }
      %button.button Search

- content_for :body do
  %section.section
    .container
      .gif-columns{ style: "display: flex; flex-flow: row wrap; justify-content: space-around; align-items: flex-start; " }
        .gif{ style: "padding-bottom: 2em; margin-bottom: auto; margin-left: auto; margin-right: auto; " }
          %a{ href: "/images/gifs/#{ @gif[:file] }" }
            %img{ src: "/images/gifs/#{ @gif[:file] }" }
          - if @gif[:data].present?
            .media
              .media-content
                %h5.title.is-5= @gif[:data].title
                %p.subtitle.is-6= @gif[:file]
            .content
              - @gif[:data].tags.each do |tag|
                %a{ href: "/gifs/tag/#{ tag }" }
                  %span.tag= tag
          - else
            .media
              .media-content
                %h5.title.is-5= @gif[:file]
            .content
